{template "content","header"}
<div class="slide">
    <ul>
        {pc:get sql="select * from ttx_poster where spaceid=11"}
        {loop $data $r}
        <?php $imgArray = string2array($r['setting']); ?>
        <li style="background-image:url(<?php echo $imgArray[1]['imageurl'] ?>)"></li>
        {/loop}
        {/pc}
    </ul>
</div>
<!-- banner结束 -->
<div class="idx_part1 cf">
    <div class="wrap">
        <ul>
        {pc:get sql="select * from ttx_poster where spaceid='12'" num="4"}
        {loop $data $r}
        <?php $array = string2array($r['setting']); ?>
            <li class="first">
                <h1><a href="{$array[1]['linkurl']}" target="_blank">{$array[1]['alt']}</a></h1>
                <p>{$r['name']}</p>
                <div class="pic">
                    <a href="{$array[1]['linkurl']}" target="_blank">
                        <img src="{$array[1]['imageurl']}" alt="{$array[1]['alt']}"/>
                    </a>
                </div>
            </li>
        {/loop}
        {/pc}
        </ul>
    </div>
</div>
 <div class="pf_function cf">
    <div class="wrap">
        <div class="tit">3G/4G车载视频监控平台功能及更新</div>
        <div class="list">
            <ul>
            {pc:content action="lists" catid="26" thumb="1" num="9" order="listorder ASC"}
            {loop $data $r}
                <li>
                    <div class="pic">
                        <a href="" target="_blank">
                            <img src="{$r['thumb']}"/>
                        </a>
                    </div>
                    <h1><a href="{$r['url']}">{$r['title']}</a>{if $r['show_new']}<img src="{IMG_PATH}/index/new.png"/>{/if}</h1>
                    <div class="txt">{$r['description']}</div>
                    <div class="mess">
                        最近更新：<span class="time">{date('Y-m-d H:i:s',$r['updatetime'])}</span>
                        <span class="version">V6.12</span>
                    </div>
                    <p><a href="{$r['url']}">查看详情</a><p>
                </li>
            {/loop}
            {/pc}    
            </ul>
        </div>
    </div>
</div>
    <!--idx_part3-->
    <div class="idx_part3 cf">
        <div class="wrap">
            <div class="news fl">
                <div class="tit cf">
                    <ul class="fl">
                    {php $i=1}
                    {pc:content action="category" catid="12" num="25" siteid="$siteid" order="listorder ASC" return="newsTitle"}
                    {loop $newsTitle $r}
                        <li {if $i==1} class="active" {/if}>{$r[catname]}</li>
                        {$i++}
                    {/loop}
                    {/pc}
                    </ul>
                    <a href="{$CATEGORYS[12][url]}" class="more fr">查看更多</a>
                </div>
                <div class="con">
                    <ul>
                        {php $i=1}
                        {loop $newsTitle $k $v}
                        <li {if $i==1} class="active" {/if}>
                            {pc:content action="lists" catid="$v[catid]" num="8" order="id DESC"}
                            {loop $data $r}
                            <dl>
                                <dt><em></em><a href="{$r[url]}" target="blank">{$r[title]}</a></dt>
                                <dd>{date('Y-m-d',$r['updatetime'])}</dd>
                            </dl>
                             {/loop}
                            {/pc}  
                        </li>
                        {$i++}
                        {/loop}
                    </ul>
                </div>
            </div>
            <div class="product">
                <div class="tit">应用产品</div>
                <ul>
                    {pc:content action="position" posid="18" num="4"}
                    {loop $data $r}
                    <li> 
                        <div class="pic">
                            <a href="{$r['url']}" target="_blank"><img src="{$r['thumb']}" alt="{$r['title']}" width="120px" ><i></i></a>
                        </div>
                        <div class="name">
                            <a href="{$r['url']}" target="_blank">{$r['title']}</a>
                        </div>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
    </div>
    <!--idx_part3 end-->
    <!--专业团队 联系我们 idx_part4-->
    <div class="idx_part4 cf">
        <div class="wrap">
            <div class="contact_mes">
                <h1>VIP服务品质 专业团购</h1>
                <div class="phone"><em></em>0755-86539820</div>
                <div class="info">
                    <div class="left fl">
                        <img src="{IMG_PATH}/QR.jpg" alt="二维码" width="108px"/>
                        <p>通天星微信平台</p>
                    </div>
                    <div class="right">
                        <div class="rows fax">
                            <i></i> 0755-86539820
                        </div>
                        <div class="rows email">
                            <i></i> afu@g-sky.cn
                        </div>
                        <div class="rows qq">
                            <i></i> 491613940
                        </div>
                        <div class="rows addr">
                            <i></i> 深圳市南山区科技园科苑北路坚达大厦10号608
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <!--专业团队 联系我们 end-->

{template "content","footer"}
