{template "content","header"}
   <!--合作和服务-->
    <div class="jobs c_">
        <div class="banne cf">
            <div class="banne_main wrap">
                <a href="{$CATEGORYS[3][url]}" class="part part1 " target="_blank"></a>
                <a href="{$CATEGORYS[61][url]}" class="part part2 " target="_blank"></a>
                <a href="{$CATEGORYS[5][url]}" class="part part3 active" ></a>
                <div class="jobs_part">
                    <div class="box">
                        <div class="content">
                            <div class="left fl">招聘职位：</div>
                            <div class="right">
                                <a href="" target="_blank">安卓开发工程师</a>
                                <a href="" target="_blank">客户经理</a>
                                <a href="" target="_blank">ID与用户设计工程师</a>
                                <a href="" target="_blank">算法工程师</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send_resume">
                    <a href="" target="_blank">立即投递简历<em></em></a>
                </div>
            </div>
        </div>
        <div class="jobs_list">
                <ul>
                    <li class="bgc2">
                        <div class="wrap">
                        <h1>ID与用户设计工程师</h1>
                        <div class="rows cf">
                            <dl>
                                <dt>工作地点：</dt>
                                <dd>中国</dd>
                            </dl>
                            <dl>
                                <dt>工作地点：</dt>
                                <dd>中国</dd>
                            </dl>
                            <dl>
                                <dt>职位类别：</dt>
                                <dd>技术</dd>
                            </dl>
                            <dl>
                                <dt>招聘人数：</dt>
                                <dd>2</dd>
                            </dl>
                            <dl>
                                <dt>发布时间：</dt>
                                <dd>2014-08-02 </dd>
                            </dl>
                            <dl>
                                <dt>有效期：</dt>
                                <dd>2个月</dd>
                            </dl>  
                        </div>
                        <div class="obligation cf">
                            <div class="left fl">职责：</div>
                            <div class="right">
                                <p>从事公司产品软硬件交互设计、用户体验设计等工作。</p>
                                <p>1、工业设计：</p>
                                <p>（1）负责公司相关产品及其配件、包装等全流程工业设计活动；</p>
                                <p>（2）进行消费者研究、设计趋势研究、CMF趋势研究和设计、创新概念设计、工艺预研等设计活动；</p>
                                <p>（3）工作地为北京、上海、深圳、西安。</p>
                                <p>2、UCD：</p>
                                <p>（1）用户研究：负责用户研究和用户测试，通过用户行为的定性、定量分析，发现产品用户体验提升的机会点，评估可用性现状； </p>
                                <p>（2）交互设计：负责人机交互场景、逻辑、任务和操作流程设计。坚持以用户为中心的体验设计导向，通过设计和创新提升用户体验；</p>
                                <p>（3）视觉设计：负责产品界面的视觉、动效、色彩、创新、视觉交互、多样化呈现。承担产品的视觉信息传达、视觉语言等相关工作；</p>
                                <p>（4）前端技术：负责与设计师配合快速在各种前端平台上构建UI原型；</p>
                                <p>（5）工作地为杭州、南京、上海、深圳、武汉、西安。</p>
                            </div>
                        </div>
                        <div class="send_resume ">
                            <a href="" target="_blank">立即投递简历<em></em></a>
                        </div>
                        </div>
                    </li>
                   <li class="bgc1">
                        <div class="wrap">
                        <h1>ID与用户设计工程师</h1>
                        <div class="rows cf">
                            <dl>
                                <dt>工作地点：</dt>
                                <dd>中国</dd>
                            </dl>
                            <dl>
                                <dt>工作地点：</dt>
                                <dd>中国</dd>
                            </dl>
                            <dl>
                                <dt>职位类别：</dt>
                                <dd>技术</dd>
                            </dl>
                            <dl>
                                <dt>招聘人数：</dt>
                                <dd>2</dd>
                            </dl>
                            <dl>
                                <dt>发布时间：</dt>
                                <dd>2014-08-02 </dd>
                            </dl>
                            <dl>
                                <dt>有效期：</dt>
                                <dd>2个月</dd>
                            </dl>  
                        </div>
                        <div class="obligation cf">
                            <div class="left fl">职责：</div>
                            <div class="right">
                                <p>从事公司产品软硬件交互设计、用户体验设计等工作。</p>
                                <p>1、工业设计：</p>
                                <p>（1）负责公司相关产品及其配件、包装等全流程工业设计活动；</p>
                                <p>（2）进行消费者研究、设计趋势研究、CMF趋势研究和设计、创新概念设计、工艺预研等设计活动；</p>
                                <p>（3）工作地为北京、上海、深圳、西安。</p>
                                <p>2、UCD：</p>
                                <p>（1）用户研究：负责用户研究和用户测试，通过用户行为的定性、定量分析，发现产品用户体验提升的机会点，评估可用性现状； </p>
                                <p>（2）交互设计：负责人机交互场景、逻辑、任务和操作流程设计。坚持以用户为中心的体验设计导向，通过设计和创新提升用户体验；</p>
                                <p>（3）视觉设计：负责产品界面的视觉、动效、色彩、创新、视觉交互、多样化呈现。承担产品的视觉信息传达、视觉语言等相关工作；</p>
                                <p>（4）前端技术：负责与设计师配合快速在各种前端平台上构建UI原型；</p>
                                <p>（5）工作地为杭州、南京、上海、深圳、武汉、西安。</p>
                            </div>
                        </div>
                        <div class="send_resume ">
                            <a href="" target="_blank">立即投递简历<em></em></a>
                        </div>
                        </div>
                    </li>
                    <li class="bgc2">
                        <div class="wrap">
                        <h1>ID与用户设计工程师</h1>
                        <div class="rows cf">
                            <dl>
                                <dt>工作地点：</dt>
                                <dd>中国</dd>
                            </dl>
                            <dl>
                                <dt>工作地点：</dt>
                                <dd>中国</dd>
                            </dl>
                            <dl>
                                <dt>职位类别：</dt>
                                <dd>技术</dd>
                            </dl>
                            <dl>
                                <dt>招聘人数：</dt>
                                <dd>2</dd>
                            </dl>
                            <dl>
                                <dt>发布时间：</dt>
                                <dd>2014-08-02 </dd>
                            </dl>
                            <dl>
                                <dt>有效期：</dt>
                                <dd>2个月</dd>
                            </dl>  
                        </div>
                        <div class="obligation cf">
                            <div class="left fl">职责：</div>
                            <div class="right">
                                <p>从事公司产品软硬件交互设计、用户体验设计等工作。</p>
                                <p>1、工业设计：</p>
                                <p>（1）负责公司相关产品及其配件、包装等全流程工业设计活动；</p>
                                <p>（2）进行消费者研究、设计趋势研究、CMF趋势研究和设计、创新概念设计、工艺预研等设计活动；</p>
                                <p>（3）工作地为北京、上海、深圳、西安。</p>
                                <p>2、UCD：</p>
                                <p>（1）用户研究：负责用户研究和用户测试，通过用户行为的定性、定量分析，发现产品用户体验提升的机会点，评估可用性现状； </p>
                                <p>（2）交互设计：负责人机交互场景、逻辑、任务和操作流程设计。坚持以用户为中心的体验设计导向，通过设计和创新提升用户体验；</p>
                                <p>（3）视觉设计：负责产品界面的视觉、动效、色彩、创新、视觉交互、多样化呈现。承担产品的视觉信息传达、视觉语言等相关工作；</p>
                                <p>（4）前端技术：负责与设计师配合快速在各种前端平台上构建UI原型；</p>
                                <p>（5）工作地为杭州、南京、上海、深圳、武汉、西安。</p>
                            </div>
                        </div>
                        <div class="send_resume ">
                            <a href="" target="_blank">立即投递简历<em></em></a>
                        </div>
                        </div>
                    </li>
                </ul>
        </div>
        
    </div>
    <!--合作和服务 end-->
{template "content","footer"}
