@charset "UTF-8";
/**
 * 首页样式
 */

.slide{width:100%;height:640px;margin:0 auto;position:relative;overflow:hidden;}
.slide ul{margin:0 auto;height:640px;}
.slide ul li{width:100%;list-style:none;position:absolute;z-index:0;height:640px;background-position:top center no-repeat;top:0;left:0;right:0;}
.slide ol{position:absolute;left:0;right:0;bottom:40px;height:10px;z-index:4;font-size:0;text-align:center;}
.slide ol li{background:#DDD;padding:0 20px;margin:0 4px;height:10px;display:inline-block;cursor:pointer;}
.slide ol li.active{background:#F90;}

.idx_part1{background-color: #f3f3f3;height: 200px;}
.idx_part1 li{float: left;width:247px;height: 200px;border-left: 4px solid #fff;text-align: center;}
.idx_part1 li.first{border-left: none;}
.idx_part1 li h1 a{color: #000;font-size: 14px;padding: 14px 0 12px 0;display: inline-block;}
.idx_part1 li p{padding-bottom: 10px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}

/*idx_part2*/
.pf_function{text-align: center;color: #333;}
.pf_function .tit{color: #000;font-size: 24px;padding: 40px 0;}
.pf_function li{width: 31.3%;height: 275px;margin: 0 1%;float: left;margin-bottom: 60px;}
.pf_function li .pic{height: 120px;vertical-align: middle;}
.pf_function li h1 a{font-size: 18px;color: #333;margin:20px 0 10px 0;display: inline-block;}
.pf_function li .txt{line-height: 18px;height: 54px;overflow: hidden;color: #333;font-family: arial;}
.pf_function li .mess{color: #666;font-family: arial;}
.pf_function li p{margin-top: 10px;}
.pf_function li p a{color: #0086cc;}

/*idex_part3*/
.idx_part3{background-color: #f2f2f2;padding: 28px 0;}
.idx_part3 .news{width: 380px;}
.idx_part3 .news .tit{height: 28px;line-height: 28px;border-bottom: 1px solid #ccc;}
.idx_part3 .news .tit li{float: left;margin-right: 20px;cursor: pointer;font-size: 14px;}
.idx_part3 .news .tit a.more{line-height: 28px;display: inline-block;color: #0087CC}
.idx_part3 .news .tit a.more:hover{text-decoration: underline;}
.idx_part3 .news .tit li.active,.idx_part3 .news .tit li:hover{color: #000;border-bottom: 1px solid #000;}
.idx_part3 .news .con li{display: none;height:172px;padding-top: 10px;overflow: hidden; }
.idx_part3 .news .con li.active{display: block;}
.idx_part3 .news .con li dl{clear: both;line-height: 22px;}
.idx_part3 .news .con li dt{float: left;width: 80%;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.idx_part3 .news .con li dt a{color: #0087cc;}
.idx_part3 .news .con li dt:hover a{text-decoration: underline;}
.idx_part3 .news .con li dt em{display: inline-block;width: 4px;height: 4px;border-radius:2px;background-color: #999;margin-right: 5px;vertical-align: 2px;}
.idx_part3 .news .con li dd{float: right;}
.idx_part3 .product{overflow: hidden;padding-left:60px;}
.idx_part3 .product .tit{font-size: 14px;color: #000;line-height: 29px;}
.idx_part3 .product li{float: left;width: 25%;text-align: center;}
.idx_part3 .product li .pic{width: 140px;height: 114px;margin: 0 auto;}
.idx_part3 .product li .pic i{display: inline-block;height: 100%;vertical-align: middle;}
.idx_part3 .product li .pic img{vertical-align: middle;}
.idx_part3 .product li .name{padding-top: 20px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}

/*idx_part4*/
.idx_part4{padding-left: 359px;}