{template "content","header"}
<!--news-->
    <div class="news news_c">
        <div class="tit wrap">热点新闻</div>
        <div class="idx_part1 cf">
            <div class="wrap">
                <ul>
                {php $i=1}
                {pc:get sql="select * from ttx_poster where spaceid='12'" num="4"}
                {loop $data $r}
                <?php $array = string2array($r['setting']); ?>
                    <li {if $i==1} class="first" {/if}>
                        <h1><a href="{$array[1]['linkurl']}" target="_blank">{$array[1]['alt']}</a></h1>
                        <p>{$r['name']}</p>
                        <div class="pic">
                            <a href="{$array[1]['linkurl']}" target="_blank">
                                <img src="{$array[1]['imageurl']}" alt="{$array[1]['alt']}"/>
                            </a>
                        </div>
                    </li>
                {$i++}
                {/loop}
                {/pc}
                </ul>
            </div>
        </div>
        <!--end-->
        <div class="wrap">
            <div class="news_list cf">
                <div class="list_tit cf">
                    <ul>
                        <li {if $_GET['catid']==12} class="active" {/if}><a href="{$CATEGORYS[12][url]}">全部新闻</a></li>
                    {pc:content action="category" catid="12" num="25" siteid="$siteid" order="listorder ASC" return="newsTitle"}
                    {loop $newsTitle $r}
                        <li {if $_GET['catid']==$r['catid']} class="active" {/if}><a href="{$r[url]}">{$r[catname]}</a></li>
                    {/loop}
                    {/pc}
                    </ul>
                </div>
                <div class="con cf">
                    <ul>
                        <li class="active">
                            {pc:content action="lists" catid="$catid" num="20" order="id DESC" limit="" page="$page"}
                            {loop $data $r}
                            <div class="rows">
                                <h1><a href="{$r['url']}" target="_blank" alt="">{$r['title']}</a></h1>
                                <div class="time">2014年12月6日</div>
                                <div class="txt">
                                    {str_cut($r['description'] , 500 , '...' )}<a href="{$r[url]}" class="more">查看更多</a>
                                </div>
                            </div>
                            {/pc}
                            {/loop}
                        </li>  
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="page">
            {$pages}
        </div>
    </div>
    
    <!--news end-->
{template "content","footer"}
