
/*网站公共样式*/
.wrap{width: 1000px;margin: 0 auto;}
.header{position: fixed;z-index:9;top:0;left:0;width:100%;height: 125px;background:url('../images/bg.png');border-bottom: 1px solid #CCC;}
.header .top{text-align: right;color: #0087CC;height: 25px;line-height: 25px;}
.header .top a{color: #0087CC;padding: 0 12px }
.header .navi .menu{height: 100px;line-height: 100px; }
.header .navi .menu a{color: #666;font-size: 14px;font-family: 'Microsoft YaHei';margin-left: 30px;display: inline-block;height: 100%;line-height: 100px;}
.header .navi .menu a:hover,.header .navi .menu a.active{border-bottom: 1px solid #666;color: #000;font-weight: bold;}

/*footer*/
.footer{padding: 20px 0;background-color: #f3f3f3;}
.footer h1{font-size: 14px;color: #333;padding-bottom: 5px;}
.footer .left{padding: 0 20px;width: 120px;text-align: center;}
.footer .left  img{display: block;}
.footer .left p{padding-top: 5px;}
.footer .right{height: 210px;border-left: 1px solid #ccc;padding-left: 30px;}
.footer .right .part{float: left;overflow: hidden;}
.footer .right .part a{line-height: 24px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;color: #333;}
.footer .right .part1{width: 120px;padding-right: 20px;}
.footer .right .part2{width: 220px;padding-right: 20px;}
.footer .right .part3{width: 190px;padding-right: 20px;}
.footer .right .part4{width: 199px;}

/*copyright*/
.copyright{text-align: center;color: #666;padding: 24px 0;}

/*page*/
.page{margin-top: 30px;text-align: center;}
.page a{padding: 7px 12px;background-color: #fff;border:1px solid #aaa;margin-right: 5px;display: inline-block;}
.page a.cur,.page a:hover{background-color: #666;color: #fff;}
/*page end*/